.body blockquote {
    border-left: 0.5em solid #eee;
    margin-left: 0;
    padding-left: 2em;
}

.body code.docutils.inline {
    white-space: normal;
}

dl.attribute dt em.property {
    display: none;
}

dl.attribute dt em.property:after {
    display: inline;
    content: "<...>";
}
